
  {% extends 'base.html' %}

{% block title %}Shopping List Page{% endblock %}

{% block body %}



{% if session.get('user_email') %}

<ul class="list-group">
    <button type="button" style="background-color: rgb(76, 177, 72); border: 0cm;" class="list-group-item list-group-item-action active" aria-current="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-0-square" viewBox="0 0 16 16">
            <path d="M7.988 12.158c-1.851 0-2.941-1.57-2.941-3.99V7.84c0-2.408 1.101-3.996 2.965-3.996 1.857 0 2.935 1.57 2.935 3.996v.328c0 2.408-1.101 3.99-2.959 3.99ZM8 4.951c-1.008 0-1.629 1.09-1.629 2.895v.31c0 1.81.627 2.895 1.629 2.895s1.623-1.09 1.623-2.895v-.31c0-1.8-.621-2.895-1.623-2.895Z"/>
            <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2Zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2Z"/>
          </svg>  <h1>{{ user.user_id }}'s Shopping List</h1>
      </button>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
      <label class="form-check-label" for="firstCheckbox"><del>First checkbox</del></label>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
      <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
    </li>
    <li class="list-group-item">
      <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
      <label class="form-check-label" for="thirdCheckbox">Third checkbox</label>
    </li>
  </ul>


{% endif %}




{% endblock %}