{% extends 'base.html' %}

{% block title %}Favorites Page{% endblock %}

{% block body %}



{% if session.get('user_email') %}


<h1>{{ user.user_id }}'s Favorites Page</h1>

<ul>
    {% for recipe in recipes %}
        <li>
            {{ recipe.title }}
            <div><img src="{{recipe.image}}"/></div>
            <button onClick="addFavorite('{{recipe.recipe_id}}', 'fav_page', event)" class="favPageBtn">Remove from favorites</button>
    
        </li>
    {% endfor %}
    </ul>

{% endif %}



{% if session.get('user_email') == None %}
    <h2>Please log in to view favorites!</h2>
{% endif %}


<script src="/static/display_recipes.js"></script>

{% endblock %}
