{% extends 'base.html' %}
{% block title %}Recipes Home{% endblock %}


{% block body %}

<div >
{% for msg in get_flashed_messages() %}
<p style="background-color: white; height: 50px; width: 100%; text-align:center; padding-top: 12px;" class="flash-msg">
  {{ msg }}
</p>
{% endfor %}
</div>


<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div> -->


        <!-- <h2>Fortune</h2>
      
        <p>Want a fortune?
          <button id="get-fortune-button" class="btn btn-primary mt-2">Get Fortune</button>
        </p>
      
        <div id="fortune-text"></div>
      
      
        <h2>Weather Service</h2>
      
        <form id="weather-form">
          <div class="form-group">
            Want weather?
            <input class="form-control" type="text" name="zipcode" id="zipcode-field"
                   placeholder="zipcode">
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-2" type="submit">Get It</button>
          </div>
        </form>
      
        <div id="weather-info"></div>
      
      
        <h2>Order Melons</h2>
      
        <form id="order-form">
          <div class="form-group">
            <label>Quantity
              <input class="form-control" type="number" name="qty" id="qty-field">
            </label>
          </div>
      
          <div class="form-group">
            <label>Melon Type
              <select id="melon-type-field" name="melon_type" class="form-control">
                <option>Watermelon</option>
                <option>Crenshaw</option>
              </select>
      
            </label>
          </div>
      
          <div class="form-group">
            <button type="submit" id="order-form-button" class="btn btn-primary mt-2">Order</button>
          </div>
      
        </form>
      
        <div id="order-status"></div>
      
       
      
        <h2>Get Recipes</h2>

        <form id="recipe-form" action="/get-recipes">
        <div class="form-group">
          Want recipe?
          <input class="form-control" type="text" name="recipe" id="recipe-field"
                  placeholder="recipe">
        </div>
        <div class="form-group">
          <button class="btn btn-primary mt-2" type="submit">Get It</button>
        </div>
      </form>
    
      <div id="recipe-container"> 
       <input>
          <button id="get-dog-image" class="btn btn-primary mt-2 mb-5">Get dog image</button>
   
      </div> -->

      
<div style="background-image: url(/static/images/Punjabi+food.jpeg); margin-bottom: 3rem;" class="homepage-hero"  >

      <form style="max-width: 50rem; padding: 10rem 3rem;" id="db-recipe-form" action="/get-db-recipes" method="POST">


      
          <div class="form-group">



          <div style="width: 120%" class="row d-flex justify-content-left align-items-center">

      
            <h3 style="border: none; margin-bottom: 15px; color: white; font-size: 2.5rem;" >Get Recipes by Ingredients</h3>
             

            <input style="width: 80%; margin: 1.5rem 0;" class="form-control" type="text" name="recipe-input" id="db-recipe-field" placeholder="flour, sugar, etc...">
            <button style="width: 5%; border: none; background-color: transparent;" ><i class="fa fa-search fa-2x" type="submit" style="color:rgb(255, 255, 255)"></i></button>
            
        

          
          <!-- <div class="form-group">
            <button class="btn btn-primary mt-2" type="submit">Get Recipes</button>
          </div> -->


          </div>
      
      

        
            <a style="top: auto; color: white; text-shadow: 1px 1px 3px #000000; font-weight: 700; font-size: 1.25rem;" class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              More search options ▾
            </a>
          </div>
          <div  class="collapse" id="collapseExample">
            <div style="margin-top: 20px; border-color: transparent;" class="card card-body">

              <span class="form-group" style="margin: .25rem 0;">
                <label for="time-select">Max Ready Time (in minutes)</label>
                <input style="border: solid; border-color: #ccc;" class="form-control" type="number" name="time" id="time-select"
                placeholder="None" value=60>
              
              
              </span>

              <span class="form-group" style="margin: .25rem 0;">
                <label for="diet-select"></label>
          
                <select name="diet" id="diet-select">
                  <option value="none">No Dietary Preferance</option>
                  <option value="vegan">Vegan</option>
                  <option value="vegeterian">Vegetarian</option>
                  <option value="keto">Ketogenic</option>
                  <option value="gluten-free">Gluten Free</option>
                  <option value="pescetarian">Pescetarian</option>
                  <option value="paleo">Paleo</option>
                </select>
              </span>
              
                <span class="form-group" style="margin: .25rem 0;">
                  <label for="intolerance-select"></label>
            
                  <select name="intolerance" id="intolerance-select">
                    <option value="none">No intolerances</option>
                    <option value="dairy">Dairy</option>
                    <option value="egg">Egg</option>
                    <option value="gluten">Gluten</option>
                    <option value="peanut">Peanut</option>
                    <option value="seafood">Seafood</option>
                    <option value="shellfish">Shellfish</option>
                    <option value="sesame">Sesame</option>
                    <option value="soy">Soy</option>
                    <option value="treenut">treenut</option>
                    <option value="wheat">wheat</option>
                  </select>
                  </span>
          
                  <span class="form-group" style="margin: .25rem 0;">
                  <label for="type-select"></label>
            
                  <select name="dish-type" id="type-select">
                    <option value="none">No Dish Type Preferance</option>
                    <option value="breakfast">Breakfast</option>
                    <option value="lunch">Lunch</option>
                    <option value="dinner">Dinner</option>
                    <option value="side%20">Side Dish</option>
                    <option value="dessert">Dessert</option>
                  </select>
                  </span>
            </div>
          </div>

    </form>

  </div>




<h2 style="border: none; text-align: center;">Explore popular recipes</h2>
    <div class="container-xl" style="margin-top: 50px">
      <div class="row">
        <div class="col-md-10 mx-auto">
          <div id="myCarousel" class="carousel slide " data-ride="carousel" data-interval="0">
          <!-- Carousel indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>   
          <!-- Wrapper for carousel items -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-sm-4">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="{{popularRecipes[0].image}}" class="img-fluid" alt="">
                    </div>
                    <div class="thumb-content">
                      <h4>{{popularRecipes[0].title}}</h4>
                      <p> Ready minutes: {{popularRecipes[0].ready_minutes}}</p>
                      
                      <a href="/recipes/{{popularRecipes[0].recipe_id}}"  class="btn btn-primary cbtn">More <i class="fa fa-angle-right"></i></a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="{{popularRecipes[1].image}}" class="img-fluid" alt="">
                    </div>
                    <div class="thumb-content">
                      <h4>{{popularRecipes[1].title}}</h4>
                      <p> Ready minutes: {{popularRecipes[1].ready_minutes}}</p>
                   
                      <a href="/recipes/{{popularRecipes[1].recipe_id}}" class="btn btn-primary cbtn">More <i class="fa fa-angle-right"></i></a>
                    </div>						
                  </div>
                </div>				
                <div class="col-sm-4">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="{{popularRecipes[2].image}}" class="img-fluid" alt="">
                    </div>
                    <div class="thumb-content">
                      <h4>{{popularRecipes[2].title}}</h4>
                      <p> Ready minutes: {{popularRecipes[2].ready_minutes}}</p>
                   
                      <a href="/recipes/{{popularRecipes[2].recipe_id}}" class="btn btn-primary cbtn">More <i class="fa fa-angle-right"></i></a>
                    </div>						
                  </div>					
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                     <div class="col-sm-4">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="{{popularRecipes[3].image}}" class="img-fluid" alt="">
                    </div>
                    <div class="thumb-content">
                      <h4>{{popularRecipes[3].title}}</h4>
                      <p> Ready minutes: {{popularRecipes[3].ready_minutes}}</p>
                      
                      <a href="/recipes/{{popularRecipes[3].recipe_id}}"  class="btn btn-primary cbtn">More <i class="fa fa-angle-right"></i></a>
                    </div>						
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="{{popularRecipes[4].image}}" class="img-fluid" alt="">
                    </div>
                    <div class="thumb-content">
                      <h4>{{popularRecipes[4].title}}</h4>
                      <p> Ready minutes: {{popularRecipes[4].ready_minutes}}</p>
                   
                      <a href="/recipes/{{popularRecipes[4].recipe_id}}" class="btn btn-primary cbtn">More <i class="fa fa-angle-right"></i></a>
                    </div>						
                  </div>
                </div>				
                <div class="col-sm-4">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="{{popularRecipes[5].image}}" class="img-fluid" alt="">
                    </div>
                    <div class="thumb-content">
                      <h4>{{popularRecipes[5].title}}</h4>
                      <p> Ready minutes: {{popularRecipes[5].ready_minutes}}</p>
                   
                      <a href="/recipes/{{popularRecipes[5].recipe_id}}" class="btn btn-primary cbtn">More <i class="fa fa-angle-right"></i></a>
                    </div>						
                  </div>					
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-sm-4">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="{{popularRecipes[6].image}}" class="img-fluid" alt="">
                    </div>
                    <div class="thumb-content">
                      <h4>{{popularRecipes[6].title}}</h4>
                      <p> Ready minutes: {{popularRecipes[6].ready_minutes}}</p>
                   
                      <a href="/recipes/{{popularRecipes[6].recipe_id}}" class="btn btn-primary cbtn">More <i class="fa fa-angle-right"></i></a>
                    </div>						
                  </div>
                </div>	               
                <div class="col-sm-4">
                  <div class="thumb-wrapper">
                    <div class="img-box">
                      <img src="{{popularRecipes[7].image}}" class="img-fluid" alt="">
                    </div>
                    <div class="thumb-content">
                      <h4>{{popularRecipes[7].title}}</h4>
                      <p> Ready minutes: {{popularRecipes[7].ready_minutes}}</p>
                   
                      <a href="/recipes/{{popularRecipes[7].recipe_id}}" class="btn btn-primary cbtn">More <i class="fa fa-angle-right"></i></a>
                    </div>						
                  </div>
                </div>	
                <div class="col-sm-4">
                    <div class="thumb-wrapper">
                      <div class="img-box">
                        <img src="{{popularRecipes[8].image}}" class="img-fluid" alt="">
                      </div>
                      <div class="thumb-content">
                        <h4>{{popularRecipes[8].title}}</h4>
                        <p> Ready minutes: {{popularRecipes[8].ready_minutes}}</p>
                     
                        <a href="/recipes/{{popularRecipes[8].recipe_id}}" class="btn btn-primary cbtn">More <i class="fa fa-angle-right"></i></a>
                      </div>						
                    </div>
                  </div>	
              </div>
            </div>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
      <script src="/static/recipe-home.js"></script>

      {% endblock %}
      

    