{% extends 'base.html' %}
{% block title %}Recipes Home{% endblock %}


{% block body %}

        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
        </ul>

        <h2>Create an Account</h2>
      <form action="/users" method="POST">
        <p>
          Email <input type="text" name="email">
        </p>

        <p>
          Password <input type="password" name="password">
        </p>

        <p>
          <input type="submit">
        </p>
      </form>

      <h2>Log In</h2>
      <form action="/login" method="POST">
        <p>
          Email <input type="text" name="email">
        </p>
    
        <p>
          Password <input type="password" name="password">
        </p>
    
        <p>
          <input type="submit">
        </p>
      </form>

      
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <div class="navbar-header">
            <span class="navbar-brand"></span>
          </div>
        </div>
      </nav>
      
      <div class="container">
      
      
        <h2>Fortune</h2>
      
        <p>Want a fortune?
          <button id="get-fortune-button" class="btn btn-primary mt-2">Get Fortune</button>
        </p>
      
        <div id="fortune-text"></div>
      
      
        <h2>Weather Service</h2>
      
        <form id="weather-form">
          <div class="form-group">
            Want weather?
            <input class="form-control" type="text" name="zipcode" id="zipcode-field"
                   placeholder="zipcode">
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-2" type="submit">Get It</button>
          </div>
        </form>
      
        <div id="weather-info"></div>
      
      
        <h2>Order Melons</h2>
      
        <form id="order-form">
          <div class="form-group">
            <label>Quantity
              <input class="form-control" type="number" name="qty" id="qty-field">
            </label>
          </div>
      
          <div class="form-group">
            <label>Melon Type
              <select id="melon-type-field" name="melon_type" class="form-control">
                <option>Watermelon</option>
                <option>Crenshaw</option>
              </select>
      
            </label>
          </div>
      
          <div class="form-group">
            <button type="submit" id="order-form-button" class="btn btn-primary mt-2">Order</button>
          </div>
      
        </form>
      
        <div id="order-status"></div>
      
       
      
        <h2>Get Recipes</h2>
      
        <form id="recipe-form">
          <div class="form-group">
            Want recipe?
            <input class="form-control" type="text" name="recipe" id="recipe-field"
                   placeholder="recipe">
          </div>
          <div class="form-group">
            <button class="btn btn-primary mt-2" type="submit">Get It</button>
          </div>
        </form>
      
        <div id="recipe-container">
          <!-- <input>
            <button id="get-dog-image" class="btn btn-primary mt-2 mb-5">Get dog image</button> -->
        </div>
      
      </div>
      
      <script src="/static/recipe-home.js"></script>

      {% endblock %}
      

    