{% extends 'base.html' %}
{% block title %}Recipe details{% endblock %}

{% block body %}
  <!-- <h1>Recipe Details</h1> -->

<div class="rec-details-container">

  



  <!-- First Row -->

  <!-- title -->
  <div style="margin: -0.5rem 0px; background-color: white;" class="row ">
    <div  style="padding: 1rem; width: 50%; margin: auto;" class="col-sm-12 col-md-6 order-sm-1">

           
  <h1 style="text-align: center; margin-bottom: 50px; margin-top: 2rem; font-weight: bold;">{{recipe.title}}</h1>

  <!-- 3 part header -->
  <div style="margin: 50px 0px;" class="row ">
    <div  class="col-12">
   
      <div class="text-center">
        <div class="row align-items-start">
          <div style="border-right: solid; border-color: #ccc;" class="col top-details">
            <i class="bi bi-egg fa-lg"> {{recipe.ingredients|length}} ingredients</i>
            
          </div>
          <div style="border-right: solid; border-color: #ccc;"class="col top-details">
            <i class=" bi bi-alarm fa-lg"><span> {{recipe.ready_minutes}} minutes</span></i>
          </div>
          <div class="col top-details" style=" border-color: #ccc;" >
            <i class=" bi bi-card-checklist fa-lg"> {{recipe.instructions|length}} steps</i>
          </div>
        </div>
      </div>
     
    </div>

    
  </div>

<div style="width: 100%; display:flex; justify-content:center;">
  {% if recipe.recipe_id in curr_fav_recipes %}
  <!-- <button onClick = "addFavorite('{{recipe.recipe_id}}', 'results_page', event)" title="Save to favorites" name="fav-button"  value="res-fav-{{recipe.recipe_id}}" class="favResultsBtn btn btn-primary mt-2" id="res-fav-{{recipe.recipe_id}}">❤️ {{recipe.fav_recipes|length}}</button> -->
<i  style=" padding: 0; display: inline; position: relative; top: -17px; left: -8px;" title="Remove from favorites"  id="res-fav-{{recipe.recipe_id}}" class="favResultsBtn favorited mt-2 bi bi-bookmark-heart fa-2x" onClick = "addFavorite('{{recipe.recipe_id}}', 'results_page', event)" value="res-fav-{{recipe.recipe_id}}"></i><p style="display: inline; color: black; font-size: medium; margin: 0;">Save Recipe</p>

{% endif %}

  {% if recipe.recipe_id not in curr_fav_recipes %}
  <!-- <button onClick = "addFavorite('{{recipe.recipe_id}}', 'results_page', event)" title="Save to favorites" name="fav-button"  value="res-fav-{{recipe.recipe_id}}" class="favResultsBtn btn btn-primary mt-2" id="res-fav-{{recipe.recipe_id}}">♡ {{recipe.fav_recipes|length}}</button> -->
  <i  style="padding: 0; display: inline; position: relative; top: -17px; left: -8px;" title="Save to favorites"  id="res-fav-{{recipe.recipe_id}}" class=" favResultsBtn  mt-2 bi bi-bookmark-heart fa-2x" onClick = "addFavorite('{{recipe.recipe_id}}', 'results_page', event)" value="res-fav-{{recipe.recipe_id}}" ></i><p style="display: inline; color: black; font-size: medium; margin: 0;">Save Recipe</p>
  
  {% endif %}

</div>

<span style="visibility: hidden;" id="res-fav-{{recipe.recipe_id}}-div">❤ {{recipe.fav_recipes|length}}</span>
  <!-- Rating area -->
  {% if recipe_is_rated %}
  <div style="display: flex; justify-content: center;">

  <span style="font-size: 2rem; font-weight: bold; margin: 0 1rem;" id="rating-score">{{avg_rating}}</span>

  {% for i in range((avg_rating|int)) %}
  <i  class="bi bi-star-fill fa-2x"></i>
  {% endfor %}
 
  <span style="padding-top: 5px; color:#4e4e4e; font-size:1.5rem; margin: 0 1rem;" id="rating-count">({{recipe_rating_count}})</span>

</div>

<div style="text-align: center; margin-bottom: 2rem;"><a style="color: black; text-decoration: none; font-size: 13px; font-weight:bold;" href="#reviews">READ REVIEWS <i class="bi bi-caret-down-fill"></i></a></div>
  {% endif %}

  {% if not recipe_is_rated %}
  <div style="display: flex; justify-content: center;">

  <span style="font-size: 2rem; font-weight: bold; margin: 0 1rem;" id="rating-score">No Reviews</span>

 
  <span style="padding-top: 5px; color:#4e4e4e; font-size:1.5rem; margin: 0 1rem;" id="rating-count">({{recipe_rating_count}})</span>

</div>

<div style="text-align: center; margin-bottom: 2rem;"><a style="color: black; text-decoration: none; font-size: 13px; font-weight:bold;" href="#reviews">Leave Review <i class="bi bi-caret-down-fill"></i></a></div>
  {% endif %}




</div>
    <div style="padding: 0px;" class="col-sm-12 col-md-6 order-sm-2">
      

      <div style="border: none; height: 100%"class="card">

      

  <!-- Image -->
        <img style="height: 100%; object-fit: cover;" class="detail-img img-card-top" src="{{recipe.image}}" alt="{{recipe.title}} image">
 
      </div>
    </div>



  </div>

<!-- second Row -->

  <div class="row ">
    <div  class="col-sm-12 col-md-5 order-sm-1">
      <ul style="margin: 2rem 0rem;" class="list-group list-group-flush">
        <li class="list-group-item"><h2 style="border-top: none;">Ingredients:</h2></li>
        {% for ingredient in recipe.ingredients %}
        <li class="list-group-item">{{ingredient}}</li>
        {% endfor %}
      </ul>     
    </div>
    <div class="col-sm-12 col-md-7 order-sm-2">
      
      <div style="margin: 2rem 0px; background-color: white; padding: 10px 40px 30px 20px;">
        <ol>
         <h2 style="border-top: none; margin: 2rem 0rem; padding-top: 0; text-align: center;">Instructions</h2>
          {% for instruction in recipe.instructions %}
          <li style="border-top: solid; border-color: #ccc;"><div style="margin: 2rem 0; font-size: 1rem;">{{instruction}}</div></li>
          {% endfor %}
        </ol>
      </div>

    </div>
  </div>

  

  
<div style="margin-bottom: 4rem;">

  <h2 style=" margin-top: 50px; border-top:none;" id="reviews">Reviews ({{all_recipe_comments['comments']|length}})</h2>
{% if session.get('user_email') %}

{% if recipe_is_rated %}

<!-- <span style="font-size: 2rem; font-weight: bold; margin: 0 0;" id="rating-score">{{avg_rating}}</span> -->

{% for i in range((avg_rating|int)) %}
<i  class="bi bi-star-fill fa-2x"></i>
{% endfor %}

{% endif %}

<form id="rating-form" action="/recipes/{{ recipe.recipe_id }}/ratings" method="POST">
  <p>
    Rating:
    <select name="rating" id="score">
      <option value="">Select rating</option>
      {% for num in range(6) %}
        <option  value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </p>
  <p><textarea type="text" id="comment-input" name="comment-input" placeholder="Leave a Review!" style="height: 5rem; width: 80%;"></textarea></p>

  <p><button type="submit" id="rating-id-btn" class="btn btn-primary" style="top:0;">submit</button></p>



</form>
{% endif %}
{% if recipe_is_rated %}
<!-- <p id="rating-score">Avg. Rating: {{avg_rating}}</p>
<p id="rating-count">rating count: {{recipe_rating_count}}</p>
<p> comment count:{{all_recipe_comments['comments']|length}} </p> -->



<div style=" padding: 1rem; margin: 2rem 0; border-top: solid; border-bottom: solid; border-color: #ccc;">
  <p style="font-size: medium; font-weight: bold; margin: 0;">{{all_recipe_comments['users'][-1]}}</p>
{% for i in range(recent_score|int) %}
<i class="bi bi-star-fill"></i>
{% endfor %}
<p id="rating-comment" style="margin: 0;"> {{recent_comment}}</p>
</div>


<button onClick = "showAllComments(event)" id="show-all-comments" >Show all comments ▾</button>
<div id="all-comments" style="display: none;">
{% for i in range(all_recipe_comments['comments']|length) %}



<div style="border-bottom: solid; border-color: #ccc; margin: 1rem;">
<!-- <p>{{all_recipe_comments['scores'][i]}}</p> -->
<p style="font-size: medium; font-weight: bold; margin: 0;">{{all_recipe_comments['users'][i]}}</p>
{% for i in range((all_recipe_comments['scores'][i]|int)) %}
<i class="bi bi-star-fill"></i>
{% endfor %}
<p> {{all_recipe_comments['comments'][i]}}</p>
</div>
{% endfor %}
</div>
{% endif %}

</div>


</div>

<script src="/static/display_recipes.js"></script>
<script src="/static/update_rating.js"></script>
{% endblock %}