{% extends 'base.html' %}
{% block title %}Recipe details{% endblock %}

{% block body %}
  <!-- <h1>Recipe Details</h1> -->

<div class="rec-details-container">

  <h1 style="text-align: left; margin-bottom: 50px; font-weight: bold;">{{recipe.title}}</h1>


  


  <div style="margin: 50px 0px;" class="row ">
    <div  class="col-12">
   
      <div class="text-center">
        <div class="row align-items-start">
          <div style="border-right: solid;" class="col">
            <i class="bi bi-egg fa-lg"> {{recipe.ingredients|length}} ingredients</i>
            
          </div>
          <div style="border-right: solid;"class="col">
            <i class="bi bi-alarm fa-lg"><span> {{recipe.ready_minutes}} minutes</span></i>
          </div>
          <div class="col" >
            <i class="bi bi-card-checklist fa-lg"> {{recipe.instructions|length}} steps</i>
          </div>
        </div>
      </div>
     
    </div>
    
  </div>


  <div class="row ">
    <div  class="col-7 order-1">
      <div class="card">
        <img class="detail-img img-card-top" src="{{recipe.image}}" alt="{{recipe.title}} image">
 
      </div>
     
    </div>
    <div class="col-5 order-2">
      
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><h2 style="border-top: none;">Ingredients:</h2></li>
        {% for ingredient in recipe.ingredients %}
        <li class="list-group-item">{{ingredient}}</li>
        {% endfor %}
      </ul>

    </div>
  </div>

  



<div style="margin: 25px 0px; background-color: white; padding: 20px;">
  <ol>
   <h2 style="border-top: none; margin: 2rem 0rem; padding-top: 0">Instructions:</h2>
    {% for instruction in recipe.instructions %}
    <li style="border-top: solid; border-color: #ccc;"><div style="margin: 20px 0px;">{{instruction}}</div></li>
    {% endfor %}
  </ol>
</div>

{% if session.get('user_email') %}
<h2 style=" margin-top: 50px; border-top:none; border-bottom: solid; border-bottom-color: #ccc;">Reviews</h2>

<form id="rating-form" action="/recipes/{{ recipe.recipe_id }}/ratings" method="POST">
  <p>
    Rating:
    <select name="rating" id="score">
      <option value="">Select rating</option>
      {% for num in range(6) %}
        <option  value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </p>
  <p><input type="text" id="comment-input" name="comment-input"></p>

  <p><button type="submit" id="rating-id-btn" >submit</button></p>



</form>
{% endif %}
{% if recipe_is_rated %}
<p id="rating-score">Avg. Rating: {{avg_rating}}</p>
<p id="rating-count">rating count: {{recipe_rating_count}}</p>
<p> comment count:{{all_recipe_comments|length}} </p>
<p id="rating-comment"> {{recent_comment}}</p><button onClick = "showAllComments(event)" id="show-all-comments" >Show all comments ▾</button>
<div id="all-comments" style="display: none;">
{% for comment in all_recipe_comments %}
<p> {{comment}}</p>
{% endfor %}
</div>
{% endif %}




</div>


<script src="/static/update_rating.js"></script>
{% endblock %}