{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block body %}



<section class="vh-100" >
    <div class="container-fluid" >
      <div class="row" style="height: 650px; background-repeat: no-repeat; background-size: cover; background-size: 95rem; background-position: -20px 0px; background-image: url(/static/images/top-view-assortment-healthy-food-immunity-boosting.jpg);">
        <div class="col-sm-6 text-black"  >
  
          <!-- <div class="px-5 ms-xl-4">
            <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
            <span class="h1 fw-bold mb-0">Logo</span>
          </div> -->
  
          <div style="background-color: white; height: 550px; max-width: 27rem" class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
  
            <form style="width: 23rem; margin-bottom: 100px;" action="/users" method="POST">
  

              <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; padding-top: 100px;">Register</h3>
  

{% with messages = get_flashed_messages() %}
  {% if messages %}
   
    {% for message in messages %}
      <p class="flashes" style="font-size:15px;">{{ message }}</p>
    {% endfor %}


    {% else %}
    <p><br></p>
  {% endif %}
{% endwith %}


              <div class="form-outline mb-4">
                <input type="text" name="email" id="form2Example18" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example18">Username</label>
              </div>
  
              <div class="form-outline mb-4">
                <input type="password" name="password" id="form2Example28" class="form-control form-control-lg" />
                <label class="form-label" for="form2Example28">Password</label>
              </div>
  
              <div class="pt-1 mb-4">
                <button class="btn btn-info btn-lg btn-block" type="submit">Register</button>
              </div>
  
              <!-- <p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p> -->
              <p style="margin-top: 40px;">Already have an account? <a href="/login-page" class="link-info">Login here</a></p>
  
            </form>
  
          </div>
  
        </div>
        <!-- <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="/static/images/upwk61666606-wikimedia-image-kowb1kus.jpg"
            alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: right;">
        </div> -->
      </div>
    </div>
  </section>

<!-- <h1>Login Page</h1>


{% for msg in get_flashed_messages() %}
<p class="flash-msg">
  {{ msg }}
</p>
{% endfor %}

<h2>Create an Account</h2>
<form action="/users" method="POST">
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
    <input type="submit">
  </p>

</form>

<h2>Log In</h2>
<form action="/login" method="POST">
  <p>
    Email <input type="text" name="email">
  </p>

  <p>
    Password <input type="password" name="password">
  </p>

  <p>
    <input type="submit">
  </p>
  
</form>


<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header">
      <span class="navbar-brand"></span>
    </div>
  </div>
</nav>

<div class="container"> -->





{% endblock %}
