{% extends 'base.html' %}

{% block title %}Shopping List{% endblock %}

{% block body %}



{% if session.get('user_email') %}

<div class="background-shopping"></div>

<h1 style="margin-top: 3rem; margin-bottom: 3rem;">{{ user.email }}'s Shopping List</h1>

<div style="display: flex; justify-content: center; margin-bottom: 5rem;">   
<ul class="list-group" style="min-width: 50%; max-width: 90%;">


    {% if shopping_list|length == 0 %}
    <h4 style="text-align: center; color: gray;">You have no items saved to your Shopping List</h4>
    {% endif %}

    {% for ingredient in shopping_list %}

        <!-- <li id='shop-list-{{ingredient.name}}'>
            {{ ingredient.name }} <button onClick= "completeItem('{{ingredient.name}}', event)" type="submit" name="complete-btn" value="{{ingredient.name}}">complete</button>
            
        </li> -->


        <!-- <button type="button" style="background-color: rgb(76, 177, 72); border: 0cm;" class="list-group-item list-group-item-action active" aria-current="true">
            <h1>{{ user.user_id }}'s Shopping List</h1>
          </button> -->
        <li style="padding: 1.5rem 1rem" class="list-group-item">
          <input onClick= "completeItem('{{ingredient.name}}', event)" name="complete-btn" value="{{ingredient.name}}" class="form-check-input me-1" type="checkbox" name="complete-btn" id="firstCheckbox">
          <label style="margin-left: .5rem;" id='shop-list-{{ingredient.name}}' class="form-check-label" for="firstCheckbox">{{ ingredient.name }}</label>
        </li>


     
    {% endfor %}

    </ul>
</div>   

     

{% endif %}



{% if session.get('user_email') == None %}
    <h2>Please log in to view Shopping List!</h2>
{% endif %}

<script src="/static/shopping_list_buttons.js"></script>
{% endblock %}